body{
    font-family: Helvetica, Arial, Sans-Serif;
    background-color:#dfe3ee;
    background-image: url("thumb_bg_xs.png");
}

.container{
    top:5vh;
    margin:auto;
    width:90vw;
    border:11px solid #3b5998;
    position:relative;
    background-color:#ffffff;
    height:10vw;
    display:block;
}

.aNumber{
    background-color: #dfe3ef;
    text-align:center;
    position:relative;
    width: calc(7vw - 4px);
    height:8vw;
    top:calc(1vw - 2px);
    margin-left:1%;
    float:left;
    border:2px solid #68696d;
    font-size: 10vw;
    line-height:8vw;
    color:#3b5998;
}

.allNumbers{
    position:relative;
    height:10vw;
    top:0vw;
    left:5vw;
    right:0px;
}

.thumbsUp{
    float:left;
    height:10vw;
}

.theTable{
    color:#3b5998;
    text-align:center;
    top:10vh;
    position: relative;
    width: 90vw;
    margin: auto;
    background-color: #ffffff;
    border: 11px solid #3b5998;
    padding: 1vw;
}

td.base{
    border-bottom: 1px solid #dddddd;
    font-size: 3vw;
    line-height: 3vw;
    padding: 2vh;
}


td.position{
    width:10%;
    font-size: 2vw;
    line-height: 2vw;
    color: #cccccc;
}

td.name{
    width:70%;
}

td.val{
    width:20%;
    border-left: 1px solid #dddddd;
}